In [4]:
# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- Creating markdown cells with tables in data science tools
- Creating markdown cells to introduce arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. The Matplotlib package
4. Seaborn

|Data Science Tools|
|-----------------|
Pandas
Seaborn
Scikit-learn

### Below are a few examples of evaluating arithmetic expressions in Python
- 2+3
- 5*8
- 6-2
- 10/5

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author
Zemicael M